
body {
    background:rgba(255,255,255,0.0);
    color: #293241;
    text-align: center;
	font-family: monospace;
	  height: 100%;
  padding: 0;
  margin: 0;
}

.PCPaxis .title {
  font-size: 10px;
  transform: rotate(90deg) translate(-5px,-6px);
  fill: #222;
}
.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.background path {
  fill: none;
  stroke: #ddd;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
  stroke: steelblue;
}
.foreground path.fade {
    stroke: #000;
    stroke-opacity: .05;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
