
body {
  background-color: #A0A1A2;
	font-family: monospace;
	  height: 100%;
  padding: 0;
  margin: 0;
}
 .back_color {
    	background-color: #DCDCDC;
    }
.PCPaxis .title {
  font-size: 10px;
  transform: rotate(90deg) translate(-5px,-6px);
  fill: #222;
}
.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.background path {
  fill: none;
  stroke: #ddd;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
  stroke: steelblue;
}
.foreground path.fade {
    stroke: #000;
    stroke-opacity: .05;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.arc text {
  font: 10px monospace;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
.pie {
  margin: 20px;
}

svg {
    float: left;
}

.legend {
  float: left;
  font-family: "Verdana";
  font-size: .7em;
}

.pie text {
  font-family: "Verdana";
  fill: #000;
}

.pie .name-text{
  font-size: .8em;
}

.pie .value-text{
  font-size: 3em;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  width: 100%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  left: 0px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #04AA6D;
  cursor: pointer;
}
#container1 {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 600px;
}

