<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" ></link>
  <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='all.js') }}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <input type="range" min="1975" max="2020" value="2020" class="slider" id="myRange" style="width: 840px;">
  <p>Year: <span id="demo"></span></p>

  <div style="display:flex;">
    <div id="map_canvas" ></div>
    <div style="text-align: center;">
      <select id="selectCountry"></select>
      <select id="selectAttr"></select>
      <div id="line-chart"></div>
    </div>
  </div>
  <div id="pcp" ></div>
  <div id="chart"></div>
</body>

<script type="text/javascript">
  console.log("countrylist");
  countrylist = {{ countrylist | safe }} ;

  console.log("attributeslist");
  attributeslist = {{ attributeslist | safe }} ;

  d3.select("#selectCountry")
      .selectAll('myOptions')
     	.data(countrylist)
      .enter()
    	.append('option')
      .text(function (d) { return d; }) // text showed in the menu
      .attr("value", function (d) { return d; }) // corresponding value returned by the button

  d3.select("#selectAttr")
    .selectAll('myOptions')
    .data(attributeslist)
    .enter()
    .append('option')
    .text(function (d) { return d; }) // text showed in the menu
    .attr("value", function (d) { return d; }) // corresponding value returned by the button


  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;
  var year='2020'
  
  slider.oninput = function() {
    output.innerHTML = this.value;
    year =this.value;
    drawPcpPlot('test',6,year)
    data = google.visualization.arrayToDataTable(test[year-1975]);
    google.load('visualization', '1', {packages: ['geochart'], callback: drawMap});
  }
  function drawMap() {
    countries=[]
    var tmp=	['Country', 'DemocraticPerformance'];
    countriesList=[]
    countriesList.push(tmp);
    d3.csv("./static/data/newDemo.csv", function(data) {
      for (var i = 0; i < data.length; i++) {
        if (!countries.includes(data[i].country, 0)){
          tmp=[]
          countries.push(data[i].country);
          tmp.push(data[i].country);
          tmp.push(parseInt(data[i].democratic_performance_numeric));
          countriesList.push(tmp);
        }
      }
    });
    
    console.log("mydata");
    var test = {{ mydata_json | safe }} ;
    console.log(test);
    console.log("mydata end");

    //console.log(countriesList);
    var data = google.visualization.arrayToDataTable(test[year-1975]);
    
    var options = {
      colorAxis: {colors: ['#1f77b4','#2ca02c', '#9467bd','#d62728','#ff7f0e']},
      //['#1f77b4:5','#2ca02c: 4', '#9467bd: 3','#d62728: 2','#ff7f0e: 1']
      dataMode: 'regions',
      backgroundColor: '#efefef',
      width: 850,
      height: 400
    };
    
    var container = document.getElementById('map_canvas');
    var chart = new google.visualization.GeoChart(container);
    
    function myClickHandler(){
      var selection = chart.getSelection();
      var message = '';
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        if (item.row != null && item.column != null) {
          message += '{row:' + test[year-1975][item.row] + ',column:' + item.column + '}';
        } else if (item.row != null) {
          message += '{row:' + test[year-1975][item.row][0] + '}';
          drawPcpPlot(test[year-1975][item.row][0],6,year)	
        } else if (item.column != null) {
          message += '{column:' + item.column + '}';
        }
      }
      if (message == '') {
        message = 'nothing';
      }
    }
    
    google.visualization.events.addListener(chart, 'select', myClickHandler);
    
    chart.draw(data, options);
  }
  google.load('visualization', '1', {packages: ['geochart'], callback: drawMap});
  drawPcpPlot('test',6,year)		
  piechart()

  var country = document.getElementById("selectCountry").value;
  var attr = document.getElementById("selectAttr").value;
  drawLinechart(country, attr)

  document.getElementById("selectCountry").onchange = function() {onchangeFunc()};
  document.getElementById("selectAttr").onchange = function() {onchangeFunc()};

  function onchangeFunc() {
    var country = document.getElementById("selectCountry").value;
    var attr = document.getElementById("selectAttr").value;
    drawLinechart(country, attr)
  }

  function drawLinechart(country, attr){
    document.getElementById("line-chart").innerHTML = ""

    var margin = { top: 50, right: 70, bottom: 130, left:80 },
    width = 800 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;
    
    // svg frame added
    var svg = d3.select("#line-chart")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
    "translate(" + margin.left + "," + margin.top + ")");
    
    // graph title
    svg.append("text")
    .attr("class", "astyle")
    .attr("transform", "translate(100,0)")
    .attr("x", 0.4*width)
    .attr("y", -10)
    .text("Changes over years")
    
    var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    // linechartdata = {{ linechartdata | safe }} ;
    // console.log(linechartdata);
    
    linechartdatafull = {{ linechartdata | safe }} ;
    // console.log(linechartdatafull);
    // console.log('linechartdata');
    // console.log(linechartdatafull['Canada']['clean_elections']);
    // console.log('linechartdata, Canada, clean_elections');

    // linechartdata = linechartdatafull['Canada']['clean_elections']
    linechartdata = linechartdatafull[country][attr]

    var xScale = d3.scaleLinear().range([0, width]);
    var yScale = d3.scaleLinear().range([height, 0]);
    xScale.domain([d3.min(linechartdata, function (d) {return d.key;}), d3.max(linechartdata, function (d) {return d.key;})]);
    yScale.domain([0, d3.max(linechartdata, function (d) {return d.value;})]);
    
    g.append("g")
    .attr("transform", "translate(0," + height + ")")
    .attr("class", "axis")
    .call(d3.axisBottom(xScale));
    
    g.append("g")
    .attr("class", "axis")
    .call(d3.axisLeft(yScale))
    .append("text")
    .attr("transform", "rotate(-90)");
    
    svg.append("text")
    .attr("class", "labeltext")
    .attr("text-anchor", "middle") 
    .attr("transform", "translate(" + (20) + "," + (height / 2) + ")rotate(-90)")
    .text("Metric");
    
    svg.append("text")
    .attr("class", "labeltext")
    .attr("text-anchor", "middle") 
    .attr("transform", "translate(" + (540) + "," + (480) + ")") 
    .text("year");
    
    svg.append("path")
    .datum(linechartdata)
    .attr("transform", "translate(" + (margin.left) + "," + (margin.top) + ")")
    .attr("fill", "none")
    .attr("stroke", "steelblue")
    .attr("stroke-width", 1.5)
    .attr("d", d3.line()
    .x(function(d) { return xScale(d.key) })
    .y(function(d) { return yScale(d.value) })
    )
  }
</script> 
</body>
</html>